<mat-drawer-container class="admincon-container" autosize>
    <mat-drawer #drawer class="adminside-sidenav" mode="side">
      <app-doctor-sidenavbar></app-doctor-sidenavbar>
    </mat-drawer>
      <button class="togglebutton" mat-button (click)="drawer.toggle()"> 
      <i class="icons" (click)="clickEvent()" [ngClass]="status ? 'icon-close' : 'icon-menu'"></i>
    </button> 
    <div class="right-section">
        <app-doctor-header></app-doctor-header>
        <div class="admin-main-container">
            <h3>Prescription Details</h3>
            <div class="dashboard-container mt-4">
                <div class="card shadow-sm" style="max-width:1024px">
                    <div class="card-body">
                        <div class="prescription-print-data" id="prescriptSection">
                            <div class="pre-patient-details d-flex">
                                <p class="patientDetails"><span *ngIf="historyData">{{historyData.name}}</span>/<span *ngIf="profileDataArr[0]">{{profileDataArr[0].gender}}</span>/<span *ngIf="profileDataArr[0]">{{profileDataArr[0].age}} year</span></p>
                                <!-- <p class="patientDetails">Name: <span>{{historyData.name}}</span></p> -->
                                <p class="patientDetails">Mobile Number: <span>{{historyData.mobile_number}}</span></p>
                                <p class="patientDetails">Token Number: <span>{{historyData.token_number}}</span></p>
                                <p class="patientDetails" *ngIf="historyArr[0]">Date: <span>{{historyArr[0].createdAt | date}}</span></p>
                            </div>
        
                            <table class="table prescribetable">
                              <tr>
                                <td style="width: 40%;" class="pl-0">
                                  <div class="patient-daignosis" *ngIf="invArr.length">
                                    <h6>Investigation</h6>
                                    <ul class="list-unstyled mt-2" *ngFor="let inv of invArr">
                                      <div>
                                          <li>{{inv.investigation_name}}</li>
                                        </div>
                                    </ul>
                                  </div>
        
                                  <div class="patient-daignosis" *ngIf="diagnosisArr.length">
                                    <h6>Diagnosis</h6>
                                    <ul class="list-unstyled patient-daignosis" *ngFor="let diag of diagnosisArr">
                                      <div>
                                          <li>{{diag.diagnosis_name}}</li>
                                        </div>
                                    </ul>
                                  </div>
        
                                  <div class="patient-daignosis" *ngIf="chiefArr.length">
                                    <h6>Complaint</h6>
                                    <ul class="list-unstyled patient-daignosis" *ngFor="let chief of chiefArr">
                                        <div>
                                          <li>{{chief.chief_complaint_name}}</li>
                                        </div>
                                    </ul>
                                  </div>
        
        
                                  <div class="patient-daignosis" *ngIf="seArr.length">
                                      <h6>SE</h6>
                                      <ul class="list-unstyled patient-daignosis" *ngFor="let se of seArr">
                                          <div>
                                            <li>{{se.se_name}}</li>
                                          </div>
                                      </ul>
                                    </div>
        
                                  <div class="patient-daignosis" *ngIf="historyArr[0]">
                                    <h6>BP</h6>
                                    <ul class="list-unstyled patient-daignosis">
                                      <li>{{historyArr[0].bp}}</li>
                                    </ul>
                                  </div>
        
                                </td>
                                <td style="width: 60%;" class="pr-0">
                                  <div class="prescription-note">
                                    <i class="fas fa-prescription"></i>
                                    <div class="medicine-des">
                                      <ul>
                                        <li *ngFor="let med of medicineArr">
                                          <h6>{{med.medicine_name}}</h6>
                                          <p class="d-flex tab-instructions">{{med.medicine_content}} <span class="sep">|</span> <span class="instrution-eat">{{med.medicine_timing}}</span></p>
                                        </li>
        
                                      </ul>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  <div class="special-Notes" *ngIf="historyArr[0]">
                                    <h6>Sepcial Notes</h6>
                                    <p>{{historyArr[0].notes}}</p>
                                  </div>
                                </td>
                              </tr>
                            </table>
                        </div>
                        <div class="text-right"><button class="btn btn-primary mt-3" (click)="onPrint('prescriptSection')">Download Prescription</button></div>
                    </div>
                </div>

                
                
            </div>
        </div>
        <app-footer> </app-footer>
    </div>
</mat-drawer-container>