table {
    width: 100%;
}

.selectDeseases {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.selectDeseases label {margin-right: 10px;}
.selectDeseases select.form-control {max-width: 150px;}