<nav class="navbar navbar-expand-lg" style="background-color: aqua;">
          <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/doctor/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/diagnosis-list">Diagnosis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chief-complaint-list">Chief Complaint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/investigation-list">Investigation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"routerLink="/se-list">SE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/disease-list">Enter Disease</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/medicine">Medicine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/create-prescription">Create prescription</a>
          </li>
      </ul>
    
  </nav>