

<div class="login-container">
    <div class="row h-100 mx-0">
        <div class="col-sm-12 px-0 my-auto">
<header class="text-center"><img src="/assets/images/logo.png"/></header>

<div class="container">
    <div class="login-maxW mx-auto">
         <form [formGroup]="changepassform" >
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="login-content">
                    <h2>Change password to your account</h2>
        
                    <div class="form-group">
                        <i class="icon-user icons"></i>
                        <input type="password" class="form-control" formControlName="currentPassword" placeholder="Enter User Current-password"/>
                         <div class="text-danger" 
                        *ngIf="changepassform.get('currentPassword')?.hasError('required') && changepassform.get('currentPassword')?.touched">
                        Current-password is required</div>
                        <div class="text-danger" 
                        *ngIf="changepassform.get('currentPassword')?.hasError('minlength') && changepassform.get('currentPassword')?.touched">
                        password should be of 5 character</div> 
                     
                    </div>
                    <div class="form-group">
                        <i class="icon-lock icons"></i>
                        <input type="password" class="form-control" formControlName="newPassword" 
                        placeholder="Enter User New-Password"/>
                        <div class="text-danger" 
                        *ngIf="changepassform.get('newPassword')?.hasError('required') && changepassform.get('newPassword')?.touched">
                        New-password is required</div>     
 
                        <div class="text-danger" 
                        *ngIf="changepassform.get('newPassword')?.hasError('minlength') && changepassform.get('newPassword')?.touched">
                        Password should be of 6 digit</div>
                    </div>
        


                    <div class="form-group">
                        <!-- <i class="icon-lock icons"></i>
                        <input type="password" class="form-control" formControlName="confirmPassword" 
                        placeholder="Enter User confirmPassword"/> -->
                        <!-- <div class="text-danger" 
                        *ngIf="changepassform.get('confirmPassword')?.hasError('required') && changepassform.get('confirmPassword')?.touched">
                        Confirm-password is required</div>     
 
                        <div class="text-danger" 
                        *ngIf="changepassform.get('confirmPassword')?.hasError('MustMatch') && changepassform.get('confirmPassword')?.touched">
                        Confirm Password Didn't match</div> -->
       
          <!-- <div class="err" *ngIf="submitted && f.confirmPassword.errors">
            <div class="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div class="f.confirmPassword.errors.MustMatch">Confirm Password At Least 6</div>
          </div> -->

                    </div>



                    <div class="remember"> 
                            <mat-checkbox class="re-checkbox">Remember</mat-checkbox>
                    </div>
        
                    <button class="btn btn-block btn-primary"  
                      (click)="onSubmit()">change password</button>
                    <div class="forgotpass"><a href="#">Forgot Your Password ?</a></div>
                        
                </div>

                </div>
        
                <div class="col-md-6 col-lg-6 mobilenone">
                    <div class="h-100 d-flex">
                        <div class="my-auto">
                    <img src="/assets/images/login.png"/>
                </div>
                </div>
                </div>
        
            </div>
         </form>
    
    </div>
</div>
</div>
</div>
</div>