<mat-drawer-container class="admincon-container" autosize>
    <mat-drawer #drawer class="adminside-sidenav" mode="side">
        <app-clinic-sidenavbar></app-clinic-sidenavbar>
    </mat-drawer>
    <button class="togglebutton" mat-button (click)="drawer.toggle()">
      <i class="icons" (click)="clickEvent()" [ngClass]="status ? 'icon-close' : 'icon-menu'"></i>
    </button>
    <div class="right-section">

        <app-clinic-header></app-clinic-header>
      <div class="admin-main-container">
        <h3>Doctor</h3>
        <div class="dashboard-container mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="card shadow-sm rounded mb-4">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <h6>Pending pateint List</h6>
                    <div class="filterfields">
                      <div class="resion-select">
                        <button type="button" class="btn btn-primary" (click)="onPrint('demo')">Print</button>
                      </div>
                    </div>
                    <div class="filterfields">
                      <input class="form-control" matInput placeholder="Filter" #input>
                    </div>
                  </div>
                </div>
  
                <div class="mat-elevation-z8" id="demo">
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>  Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                          </ng-container>
                          
                          <!-- Name Column -->
                          <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>  Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}}</td>
                          </ng-container>
                          
                          <!-- Name Column -->
                          <ng-container matColumnDef="doctor_name">
                            <th mat-header-cell *matHeaderCellDef>  Doctor Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.doctor_name}}</td>
                          </ng-container>
                          
                          <!-- Weight Column -->
                          <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef>  Time </th>
                            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                          </ng-container>
                          
                          <!-- Symbol Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name | uppercase}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="mobile_number">
                            <th mat-header-cell *matHeaderCellDef>  Mobile Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile_number}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef>City </th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="nature_of_visit">
                            <th mat-header-cell *matHeaderCellDef> Nature </th>
                            <td mat-cell *matCellDef="let element"> {{element.nature_of_visit}} </td>
                          </ng-container>

                          <ng-container *ngIf="isActionHide" matColumnDef="action" >
                            <th mat-header-cell *matHeaderCellDef > Action </th>
                            <td mat-cell *matCellDef="let element">
                                <i class="fa fa-trash ml-2" style="font-size:18px;color:red"
                                data-toggle="modal" data-target="#exampleModal"  (click)="deletePendingPateint(element)"></i>&nbsp;&nbsp;
                                    <button class="btn btn-primary" routerLink="/pending-appointment" [queryParams]="{id:element.id,patient_id:element.patient_id,doctor_id:element.doctor_id}">Print</button>
                            </td>
                        </ng-container>
                          
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 20,30,40]" showFirstLastButtons
                    aria-label="Select page of periodic elements"
                    [length]="200" [pageSize]="10">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <app-footer> </app-footer>
    </div>
  </mat-drawer-container>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Do YOU WANT TO DELETE ??</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deletePatientByid()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
  <div class="pageloader" *ngIf="isloading">
    <img src="../../../assets/images/loader.svg"/>
  </div>
  