
<mat-drawer-container class="admincon-container" autosize>
    <mat-drawer #drawer class="adminside-sidenav" mode="side">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <button class="togglebutton" mat-button (click)="drawer.toggle()">
        <i class="icons" (click)="clickEvent()" [ngClass]="status ? 'icon-close' : 'icon-menu'" ></i>
    </button>

    <div class="right-section">
        <app-header></app-header>
        <div class="admin-main-container">
            <h3>Add Blog</h3>
            <div class="dashboard-container mt-4">
                <div class="col-md-12">
                    <div class="card shadow-sm rounded mb-4">
                        <div class="card-header d-flex">
                           <span class="goback"> <button onclick="history.back()" class="btn btn-primary">Go Back</button></span>
                        </div>
                        <form  [formGroup]="BlogAdd" (submit)="onSubmit()">
                            <div class="card-body p-3">
                                <!-- <h5>Personal Information</h5> -->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Blog Title</label>
                                        <input type="text" class="form-control" placeholder="Blog title"
                                            formControlName="title" />
                                        <div class="text-danger" *ngIf="BlogAdd.get('title')?.hasError('required') && 
                                            BlogAdd.get('title')?.touched">
                                            Title is required</div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label>Short Title</label>
                                        <input type="text" class="form-control" placeholder="Short Title"
                                            formControlName="shorttitle" />
                                        <div class="text-danger" *ngIf="BlogAdd.get('shorttitle')?.hasError('required') && 
                                            BlogAdd.get('shorttitle')?.touched">
                                            Short Title is required</div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label>Description</label>
                                        <textarea type="text" class="form-control" rows="5" placeholder="description"
                                        formControlName="description"></textarea>                                        
                                        
                                        <!-- <input type="text" class="form-control" placeholder="description"
                                            formControlName="description" /> -->
                                        <div class="text-danger" *ngIf="BlogAdd.get('description')?.hasError('required') && 
                                            BlogAdd.get('description')?.touched">
                                            Description is required</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Blog Image</label>
                                        <input type="file" class="form-control-file" formControlName="image" id="exampleFormControlFile1" (change)="handleFileInput($event.target.files)">
                                        <div class="text-danger" *ngIf="BlogAdd.get('image')?.hasError('required') && 
                                            BlogAdd.get('image')?.touched">
                                            Image  is required</div>
                                    </div>
                                    <div class="col-md-3 form-group" >
                                        <label>Image View</label>
                                       <div>
                                        <img  [src]="images" style="height: 100px; width: 200px;">
                                       </div>
                                    </div>
                                      <!-- <input [ngxTimepicker]="picker">
                                       <ngx-material-timepicker #picker></ngx-material-timepicker> -->
                                </div>
                               
                            </div>
                        </form>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" (click)="onSubmit()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-container>

<div class="pageloader" *ngIf="isloading">
    <img src="../../../assets/images/loader.svg"/>
  </div>
