<mat-drawer-container class="admincon-container" autosize>
    <mat-drawer #drawer class="adminside-sidenav" mode="side">
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <button class="togglebutton" mat-button (click)="drawer.toggle()">
      <i class="icons" (click)="clickEvent()" [ngClass]="status ? 'icon-close' : 'icon-menu'"></i>
    </button>
    <div class="right-section">
      <app-header></app-header>
      <div class="admin-main-container">
        <h3>Admin</h3>
        <div class="dashboard-container mt-4">
          <div class="row">
            <div class="col-md-12">
              <div class="card shadow-sm rounded mb-4">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <h6>Doctor List</h6>
                    <div class="filterfields">
                      
                    </div>
                    <div class="filterfields">
                      <input class="form-control" matInput placeholder="Filter" #input>
                    </div>
                  </div>
                </div>
  
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="clinic_id">
                          <th mat-header-cell *matHeaderCellDef> Clinic Name</th>
                          <td mat-cell *matCellDef="let element"> {{element.clinic_name}} </td>
                        </ng-container>
      
                        <!-- Name Column -->
                        <ng-container matColumnDef="doctor_name">
                          <th mat-header-cell *matHeaderCellDef>Doctor Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.doctor_name}} </td>
                        </ng-container>
      
                        <!-- Weight Column -->
                        <ng-container matColumnDef="fees">
                          <th mat-header-cell *matHeaderCellDef>Fees </th>
                          <td mat-cell *matCellDef="let element"> {{element.fees}} </td>
                        </ng-container>
      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="total_amount">
                          <th mat-header-cell *matHeaderCellDef>Total Earning </th>
                          <td mat-cell *matCellDef="let element"> {{element.total_amount}} </td>
                        </ng-container>
      
                        <ng-container matColumnDef="today_amount">
                          <th mat-header-cell *matHeaderCellDef>  Today Earning </th>
                          <td mat-cell *matCellDef="let element"> {{element.today_amount}} </td>
                        </ng-container>
      
                        <ng-container matColumnDef="mobile_number">
                          <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
                          <td mat-cell *matCellDef="let element"> {{element.doctor_mobile_number}} </td>
                        </ng-container>
      
                        <ng-container matColumnDef="professional_bio">
                          <th mat-header-cell *matHeaderCellDef> Professional Bio</th>
                          <td mat-cell *matCellDef="let element"> {{element.professional_bio}} </td>
                        </ng-container>

                       
                          <!-- <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                              <button type="button" class="btn btn-primary" routerLink="/total-earning-pateint" [queryParams]="{doctor_id:element.id}">View</button>
                            </td>
                        </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements"
                    [length]="200" [pageSize]="5">
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <app-footer> </app-footer>
    </div>
  </mat-drawer-container>

<div class="pageloader" *ngIf="isloading">
  <img src="../../../assets/images/loader.svg"/>
</div>